.wrapper {
  border-bottom: 1px dashed;
  padding: 20px;
}

.input {
  text-align: center;
  padding: 12px;
  outline: 0;
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: $fontSizeLg;
}
