// Grayscales
$gray: #d5d5d5;

// Font Sizes
$baseFontSize: 1rem;
$fontSizeLg: $baseFontSize * 2;

// App colors
$ruleSuccessColor: green;
$ruleErrorColor: red;
$ruleBg: #9d9d9d;
$ruleHeadingColor: white;
$ruleDefnColor: white;
$ruleDefnBodyBg: #fafafa;
