.wrapper {
  border-radius: 2px;
  cursor: pointer;
}

.ruleHeader {
  > * {
    padding: 18px;
    color: white;
  }
}

.ruleId {
  text-align: center;

  &.ruleIdSuccess {
    background: lighten($ruleSuccessColor, 8%);
  }

  &.ruleIdError {
    background: lighten($ruleErrorColor, 8%);
  }
}

.ruleTitle {
  &.ruleTitleSuccess {
    background: $ruleSuccessColor;
  }

  &.ruleTitleError {
    background: $ruleErrorColor;
  }
}

.ruleBody {
  background: $ruleBg;
  padding: 12px;
  margin-left: -8px;
  margin-right: -8px;


  > :not(:last-child) {
    margin-bottom: 20px;
  }
}
