.app {
}

.appLogo {
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}

.appContainer {
  width: 50%;
  margin: 0 auto;
}

.appError {
  text-align: center;
  font-size: $fontSizeLg;
}
